header{
    text-align: bottom right;
    color: #58FAF4;
    font-size: 40px;
    font-family: papyrus;
    border-radius: 25px;
}
header img{
    border-radius: 100%;
    border: 5px solid antiquewhite;
    width: 256px;
    height: 256px;
    margin: 80px 80px;
}
header h2{
    display: inline;
    position:absolute;
    margin: 180px 400px;
    color: bisque;
}
container{
    position: absolute;
}
body{
    background-color: black;
    color:aqua;
}
body p{
    background-color: #151515;
    font-size: 48px;
    font-family: Tahoma;
    color: azure;
    margin: 115px 40px 100px 30px;
    text-align: center;
    -webkit-border-radius: 8px;
}
ul{
    text-align: center;
}
li{
    display: inline-flex;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
.pl_news img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
    margin: 0px 40px;
    opacity: 0.55;
    -webkit-transition: opacity 0.6s;
}
.pl_news img:hover{
    opacity: 0.88;
}